# Base URL of the API under test
API_BASE_URL=http://localhost:8051

# Default user credentials for testing (if seed scripts create them)
TEST_ADMIN_USERNAME=admin@ridp.example
TEST_ADMIN_PASSWORD=adminpassword

TEST_CREATOR_USERNAME=creator@ridp.example
TEST_CREATOR_PASSWORD=creatorpassword

TEST_USER_USERNAME=user@ridp.example
TEST_USER_PASSWORD=userpassword
